.App {
  text-align: center;
}

.App-header {
  background-color: pink;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pane {
  background-color: black;
  border-radius: 30px;
  border: 5px;
  margin: 60px;
  width: 50%;
  display: flex;
  flex-direction: column;

}

img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 100%;
  height: auto;
}

.h2 {
  font-size: 30pt;
  font-family: 'William', Times, serif;
  color: whitesmoke;
  margin: 10px 10px 0px 10px;
}

.h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  margin: 0px 10px 10px 10px;
}